<div class="home">
      <h1 class="hoH1">Welcome to the Vinyl Tracker App</h1>
      <h3><a class="nav-link btn btn-primary" href="/records">Vinyl Records</a>
</h3>

  <img class="hoImg" src="/images/vinyl.png" alt="Welcome Image" height="8S00" width="800" >

</div>