<h1>{{title}}</h1>

<div class="container mt-5">
    
    {{!-- Error if credentials are wrong --}}
    {{#if messages}}
      <div class="alert alert-danger">
        Invalid credentials
      </div>
    {{else}}
      <div class="alert alert-info">
        Please enter your credentials
      </div>
    {{/if}}

    <form method="post">
      <fieldset class="form-group">
        <label for="username" class="form-label">Username: *</label>
        <input name="username" id="username" required class="form-control" />
      </fieldset>
      <fieldset class="form-group">
        <label for="password" class="form-label">Password: *</label>
        <input name="password" id="password" type="password" required class="form-control" />
      </fieldset>
      <fieldset class="form-group">
        <button class="btn btn-info">Login</button>
        <hr />
        Need an account?
        <a href="/register" title="Register">Register</a>
      </fieldset>
    </form>
    <br><br><br>
  </div>
