<h1>{{title}}</h1>

<div class="container">
    <br>
    <form method="post" class="mt-3">
      <div class="mb-3">
        <label for="username" class="form-label">Username: *</label>
        <input
          name="username"
          id="username"
          required
          type="email"
          class="form-control"
          placeholder="abc@xyz.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password: *</label>
        <input
          name="password"
          id="password"
          type="password"
          required
          
          class="form-control"
        />
      <button class="btn btn-info">Register</button>
      <hr />
      Already have an account?
      <a href="/login" class="ml-2">Login</a>
      <br>
      <br><br>
    </form>
  </div>




